#randfile
.vscode
.history
*.log
*.a
*.so
*.dylib
*.o

#output
test_logger
megaphone
PhoneBook
BraiiiiiiinnnzzzZ
moarBrainz
Brain
Violence
Replace
Harl
Harl_filter
Mon_1er
Mon_1er_2eme
Parlons
Triangulation
ClapTrap
ScavTrap
DiamondTrap
mcgonagall
Abstract
BurningMan
leRecap